.template{
    width: 900px;
    height: 300px;
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px solid #F9B0C3;
}

.logo{
    width: 250px;
    height: 250px;
    margin: 15px;
}

h2{
    color: #46467A !important;
    weight: 700px;
}

h4{
    color: #7756C6 !important;
    text-align: center;
}

h5{
    color: #F9B0C3 !important;
}

h6{
    color: #FFC212 !important;
}

a{
    color: #7756C6 !important;
}

.rs{
    width: 30px;
    height: 30px;
}

.space{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-link{
    color: #7756C6 !important;
}

a{
    text-decoration: none !important;
}

.links > h6{
    margin: 20px;
}

.botao{
    background-color: #46467A !important;
}