body{
    background-color: #fff !important;
}

.caixa{
    background-color: #FFF;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

input{
    border-color: #F9B0C3 !important;
    border-width: 3px !important;
    border-radius: 20px !important;
}

h3, h1{
    text-align: center;
    color: #46467A  !important;
}

label, h3{
    color: #46467A  !important;
    font-weight: 800px !important;
}

.box{
    height: 752px;
    overflow-y: scroll;
    background-color: #E0DFFD;
}
